<div class="jumbotron text-center">
  <h1>Welcome to Sunday Market Management</h1>
  <p>Kombucha letterpress leggings mlkshk keytar pop-up poke deep v normcore. </p>
  <p><a class="btn btn-success btn-lg" href="#" role="button">Join as Seller</a></p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Random Product</h3>
          <p>...</p>
        </div>
      </div>
    </div>
  </div>
</div>
