<div class="jumbotron text-center">
  <h1>Welcome to Sunday Market Management</h1>
  <p>Kombucha letterpress leggings mlkshk keytar pop-up poke deep v normcore. </p>
  <p>
    <%= link_to "Join as Seller", new_user_registration_path, class: "btn btn-success btn-lg" %>
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Random Product</h3>
          <p>...</p>
        </div>
      </div>
    </div>
  </div>
</div>
